input {
    width : 90%;
    border : 0;
    border-bottom : 1px solid #CCC;
    margin-bottom: 32px;
    padding: 16px 0 16px 16px;
    appearance: none;
    outline: none;
}

button {
    padding: 0;
    margin-bottom: 1.7rem;
  }
  
button:hover {
    color: #007bff; 
}

span {
    font-size: 14px;
    color: #fff;
    margin-bottom: 1.7rem;
}
  